body{
    background-color: green;
  }

@media screen and (max-width: 600px) {
	body{
		background-color: blue;
	}
			}

@media screen and (min-width: 601px) and (max-width: 900px) {
	body{
		background-color: red;
	}
 
			}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  body{
    background-color: yellow;
  }
  
      }
